<div class="row">
    <h1>Hard & Soft Skill</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [showUnits]="false"
            [showImage]="true"
            [imageSrc]="'/assets/html.png'"
            [imageHeight]="100"
            [imageWidth]="100"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'Orange'"
            [innerStrokeColor]="'silver'"
            [animation]="true"
            [animationDuration]="700"
            [lazy]="true"
        ></circle-progress>
    </div>    
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [showUnits]="false"
            [showImage]="true"
            [imageSrc]="'/assets/CSS.png'"
            [imageHeight]="100"
            [imageWidth]="100"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'silver'"
            [animation]="true"
            [animationDuration]="700"
            [lazy]="true"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [showUnits]="false"
            [showImage]="true"
            [imageSrc]="'/assets/js.png'"
            [imageHeight]="100"
            [imageWidth]="100"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'yellow'"
            [innerStrokeColor]="'silver'"
            [animation]="true"
            [animationDuration]="700"
            [lazy]="true"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [showUnits]="false"
            [showImage]="true"
            [imageSrc]="'/assets/git.png'"
            [imageHeight]="100"
            [imageWidth]="100"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'black'"
            [innerStrokeColor]="'silver'"
            [animation]="true"
            [animationDuration]="700"
            [lazy]="true"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [showUnits]="false"
            [showImage]="true"
            [imageSrc]="'/assets/grupal.png'"
            [imageHeight]="100"
            [imageWidth]="100"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'black'"
            [innerStrokeColor]="'silver'"
            [animation]="true"
            [animationDuration]="700"
            [lazy]="true"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [showUnits]="false"
            [showImage]="true"
            [imageSrc]="'/assets/eng.png'"
            [imageHeight]="100"
            [imageWidth]="100"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'black'"
            [innerStrokeColor]="'silver'"
            [animation]="true"
            [animationDuration]="700"
            [lazy]="true"
        ></circle-progress>
    </div>
    

    
</div>