<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/banner.jpg" 
        class="img-fluid"
        id="bannerperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Federico Barzola</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Sobre mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus nulla reprehenderit, dolore sint quaerat consequuntur, tempore impedit dolorum, repudiandae autem nihil dignissimos numquam enim molestias. Ex at nam ea reprehenderit.</p>
        </span>
    </div>
</div>