<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg 1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>(Fecha)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi excepturi harum pariatur accusantium eaque qui dolore quis repudiandae similique deserunt esse, ullam iste molestiae laudantium ratione quas nihil modi fuga.</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1> - <h3>(Fecha)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi excepturi harum pariatur accusantium eaque qui dolore quis repudiandae similique deserunt esse, ullam iste molestiae laudantium ratione quas nihil modi fuga.</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 3</h1> - <h3>(Fecha)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi excepturi harum pariatur accusantium eaque qui dolore quis repudiandae similique deserunt esse, ullam iste molestiae laudantium ratione quas nihil modi fuga.</p>
        </ul>
    </div>
</div>